src/main/mule/products.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="0cf0f307-1f09-4234-b582-2b75224a000e" />
	<flow name="prodcuts-schedule-flow"
		doc:id="6c64299d-8db3-4c46-a5d2-1def002fce65" tracking:enable-default-events="true" initialState="${products.initialState}">
		<scheduler doc:name="prodcuts-scheduler" doc:id="0c38b9fb-7af5-47a4-a2b7-866e400c5559" >
			<scheduling-strategy >
				<fixed-frequency frequency="${scheduler.frequency}" timeUnit="DAYS" startDelay="${scheduler.startDelay}"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="jobRunTime"
			doc:id="c7bf67ba-eeff-4bcb-a3ed-11ca4464b100">
			<ee:message />
			<ee:variables>
				<ee:set-variable resource="dwl/vars-productsJobRun.dwl" variableName="productsJobRun" />
			

</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="jobRun logger" doc:id="5984e226-a277-496d-8706-1396756d7fbd" message="#[vars.productsJobRun]" category="${log.category}"/>
		<os:retrieve doc:name="retrievePreviousJobRun"
			doc:id="35c3b04f-5293-4fbe-bc99-a0fdecbc6fbf" key="previousProductsJobRun"
			target="previousProductsJobRun" objectStore="Object_store_Previous_Products_Job_Run">
			<os:default-value><![CDATA[#[vars.productsJobRun]]]></os:default-value>
		</os:retrieve>
		<ee:transform doc:name="static-time-set-for-code-debug" doc:id="163f7f77-4b55-43b6-8468-a133fc0982ae" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="previousProductsJobRun" ><![CDATA[//{
//  "date": "125094",
//  "time": "202157"
//}
{
  "date": "125094",
  "time": "224318"
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<!-- [STUDIO:"Logger"]<logger level="INFO" doc:name="Logger" doc:id="06bba3fc-e5b9-49a3-8368-11bdf8082eaa" message='#[%dw 2.0&#10;output application/java&#10;&#45;&#45;-&#10;"&#10;LastjobRunDetails : " ++ vars.previousProductsJobRun.^raw&#93;'/> [STUDIO] -->
		<logger level="INFO" doc:name="Logger" doc:id="730807af-856e-4f6a-9e87-1a050b20b8ee" message='#["\n Calling products-sub-flow"]' category="${log.category}"/>
		<flow-ref doc:name="jde-products-sub-flow"
			doc:id="4fede292-ec95-4e79-be75-ded63ded2992" name="products-sub-flow" />
		<os:store doc:name="Store current job run details"
			doc:id="94b3f559-1d39-4249-955c-d4e8e8951844" key="previousProductsJobRun" objectStore="Object_store_Previous_Products_Job_Run">
			<os:value><![CDATA[#[vars.productsJobRun]]]></os:value>
		</os:store>
		<error-handler ref="global-error-handler" />
	</flow>
	<sub-flow name="products-sub-flow" doc:id="1decaf7b-f651-4c2d-bc2a-2c74fb85198c" >
		<ee:transform doc:name="Transform Message" doc:id="178730ec-771e-4fb6-8df9-14aeb96b605a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
readUrl("classpath://queryScript/sqlScript-products-consolidated-$(p('mule.env')).dwl","text/plain")]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="excelData"><![CDATA[%dw 2.0
output application/json
---
readUrl("classpath://product-family-data.xlsx","application/xlsx", {header: true})]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:dynamic-evaluate doc:name="Dynamic Evaluate" doc:id="d6c023ec-c961-4824-9769-76390fcbb3e4" expression="#[payload]" />
		<try doc:name="Try" doc:id="ee48df11-e059-4c03-8098-c1698da092d7" >
			<db:select doc:name="Get Product Details" doc:id="8ff6cc13-6128-4813-a538-8740e4bce437" config-ref="Oracle_JDE_Database_Config">
			<reconnect frequency="${reconnect.frequency}" count="${reconnect.attempts}" />
				<db:sql><![CDATA[#[payload]]]></db:sql>
		</db:select>
			<error-handler ref="global-error-handler" />
		</try>
		<!-- [STUDIO:"var-productMaster"]<ee:transform doc:name="var-productMaster" doc:id="af37a10d-5942-4b41-ac76-4f4e85f7060d" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="productMaster" ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
payload&#93;&#93;></ee:set-variable>
			</ee:variables>
		</ee:transform> [STUDIO] -->
		<logger level="INFO" doc:name="Logger" doc:id="f2c4f333-1835-4427-8f7b-3aa0e7952aae" message='#["\n Product Result Sets Received From JDE: " ++ sizeOf(payload)]'/>
		<logger level="INFO" doc:name="Logger" doc:id="ed4995a8-cfe7-4046-add4-45e10f988316" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<ee:transform doc:name="map metadata" doc:id="76a67c59-2012-4683-bdbc-d90a3d2877ca">
				<ee:message>
				</ee:message>
				<ee:variables>
				<ee:set-variable resource="dwl/metadata.dwl" variableName="metadata" />
				</ee:variables>
			</ee:transform>
		<choice doc:name="For for " doc:id="58d5085e-9515-42ba-98fd-cdeeb403ad3c" >
			<when expression="#[payload !=[]]">
				<logger level="INFO" doc:name="Logger" doc:id="98110b91-4323-42c8-95d0-c29712a9d1e9" message='#["\n Calling products-mapping-subflow "]'/>
				<flow-ref doc:name="products-mapping-subflow" doc:id="4eb4adc5-6e98-4f2c-b2ba-6d6d5d856783" name="products-mapping-subflow" />
				<ee:transform doc:name="Transform Message" doc:id="62e82583-d8b0-44da-bc20-a34f81653838">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="metadata"><![CDATA[%dw 2.0
output application/json
---
{"drawExternalID": (vars.metadata map ((item, index) -> item.drawExternalIDLanded)) distinctBy $,
"srtxExternalID": (vars.metadata map ((item, index) -> item.srtxExternalIDLanded)) distinctBy $
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="7f09172a-5630-4aa0-b060-460ddeb49711" message='#["\n Calling landed-min-max-subflow"]' />
				<flow-ref doc:name="Flow Reference" doc:id="cdcbea4f-c4e0-443d-8914-07b2040253be" name="landed-min-max-choice-subflow"/>
				<logger level="INFO" doc:name="END-Logger" doc:id="b92c7dbe-b6d0-44ed-a1da-e1d6631e4adf" message='#["\n Products API finished processing"]' />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="7bcd56a9-996d-4726-8ae5-e055e50f8f72" message='#["\n No Valid Inputs to Process in this run of Create or Update Products"]'/>
				<logger level="INFO" doc:name="END-Logger" doc:id="2eef1248-2011-41e4-b099-90552baa0be6" message='#["\n Products API finished processing"]' />
			</otherwise>
		</choice>
	
</sub-flow>
	<sub-flow name="products-mapping-subflow" doc:id="863e9334-dadb-4dc0-a1a2-f14c18dc3d40" >
		<ee:transform doc:name="Transform Message" doc:id="0c587aab-5aca-493d-a5e7-440a83623a64">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.metadata]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="80c4c3a9-c855-4c98-a05f-bd2d4511a9c3" >
			<when expression="#[payload !=[]]" >
				<scatter-gather doc:name="Scatter-Gather" doc:id="ca87f6bb-121f-4300-a217-590d033bd50e" maxConcurrency="1" >
					<route >
						<ee:transform doc:name="drawExternalIDLanded" doc:id="0f3a8652-c510-4bd8-a101-bc2e4e6a934a" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var drawArray = payload map (item) ->
  if (item.drawExternalIDLanded? ) item - "srtxExternalIDLanded" else null

var srtxArray = payload map (item) ->
  if (item.srtxExternalIDLanded? )  item - "drawExternalIDLanded" else null

var neitherArray = payload filter (item) ->
  !(item.srtxExternalIDLanded? or item.drawExternalIDLanded? )

---
{
  //"srtxResults": srtxArray filter ((item) -> item != null),
  "drawResults": drawArray filter ((item) -> item != null),
  //"noOperation": neitherArray
}]]></ee:set-payload>
							</ee:message>
							<ee:variables >
								<ee:set-variable variableName="exId" ><![CDATA[%dw 2.0
output application/json
---
"drawExternalIDLanded"]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						<ee:transform doc:name="Transform Message" doc:id="8bf14ca6-dd77-4be3-8d35-11d924347459" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if(vars.exId == "drawExternalIDLanded")
  payload.drawResults map() -> {
    "a": $ - "drawExternalIDLanded" ++ "External_ID__c": $."drawExternalIDLanded" 
  }

 else
(payload.srtxResults map() -> {
    "a": $ - "srtxExternalIDLanded" ++ "External_ID__c": $."srtxExternalIDLanded" 
  })]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="993cb74a-45cb-43c5-91e6-2919807faf8f" message='#["\n Base Part External ID Landed Created. Calling products-flow-reference"]'/>
						<logger level="DEBUG" doc:name="Debug-Logger" doc:id="9a0d6f30-1367-4e11-80a9-36bbe4ac64da" message="#[vars.exId]"/>
						<flow-ref doc:name="products-flow-reference" doc:id="42e134c6-0eca-453b-9c91-04f819656e26" name="productsFlow" />
					</route>
					<route >
						<ee:transform doc:name='srtxExternalIDLanded"' doc:id="9f803598-bb6b-4273-a95d-cf0ce2c7de2a" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var drawArray = payload map (item) ->
  if (item.drawExternalIDLanded? ) item - "srtxExternalIDLanded" else null

var srtxArray = payload map (item) ->
  if (item.srtxExternalIDLanded? )  item - "drawExternalIDLanded" else null

var neitherArray = payload filter (item) ->
  !(item.srtxExternalIDLanded? or item.drawExternalIDLanded? )

---
{
  "srtxResults": srtxArray filter ((item) -> item != null),
  //"drawResults": drawArray filter ((item) -> item != null),
  //"noOperation": neitherArray
}]]></ee:set-payload>
							</ee:message>
							<ee:variables >
								<ee:set-variable variableName="exId" ><![CDATA[%dw 2.0
output application/json
---
"srtxExternalIDLanded"]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						<ee:transform doc:name="Transform Message" doc:id="e5c87113-58fb-43db-9ece-92915f4b7fc3" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if(vars.exId == "drawExternalIDLanded")
  payload.drawResults map() -> {
    "a": $ - "drawExternalIDLanded" ++ "External_ID__c": $."drawExternalIDLanded" 
  }

 else
(payload.srtxResults map() -> {
    "a": $ - "srtxExternalIDLanded" ++ "External_ID__c": $."srtxExternalIDLanded" 
  })]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="57888520-9b3e-4a6c-bb2e-8e9deae8acf4" message='#["\n INDUSTRY Part External ID Landed Created. Calling products-flow-reference"]'/>
						<logger level="DEBUG" doc:name="Debug-Logger" doc:id="aa3ad80e-6956-441d-b38e-cc514c413032" message="#[vars.exId]"/>
						<flow-ref doc:name="products-flow-reference" doc:id="643f60c1-f585-4ac8-b41d-1b38b8bffa82" name="productsFlow" />
					</route>
				</scatter-gather>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Inavlid Inputs to process" doc:id="93b3ab20-c7ca-425f-9b76-451fe22086e5" message='#["\n No Valid Inputs to Process"]' />
			</otherwise>
		</choice>
	</sub-flow>
	<flow name="productsFlow" doc:id="206df059-5e14-42f2-b69f-9d2966de8079">
		<batch:job jobName="productsBatch_Job" doc:id="9daeb12f-d6a5-4dd3-9250-2a0b4cea3549" maxFailedRecords="${batch.maxFailedRecords}" blockSize="${batch.size}">
			<batch:process-records>
				<batch:step name="Batch_Step" doc:id="1d9db3de-471f-466f-8549-7982278ca725">
					<ee:transform doc:name="Transform Message" doc:id="77d59879-687f-453d-8227-497c3f4585c2">
						<ee:message>
							<ee:set-payload resource="dwl/set-draw-srtx-external-id.dwl" />
						</ee:message>
						<ee:variables>
						</ee:variables>
					</ee:transform>
					<choice doc:name="Choice" doc:id="d8ac2292-6e52-4f71-b497-d9df1025bc42" >
						<when expression='#[payload.a."External_ID__c" != null]'>
							<try doc:name="Try" doc:id="bd34a49d-19f5-4516-9fa2-db97da294911">
						<salesforce:query doc:name="Check Base External Id in Salesforce" doc:id="7bdad15c-8a8e-4d36-8312-11c4373a15c8" config-ref="Salesforce_Config" target="SFExtId">
						<reconnect-forever />
							<salesforce:salesforce-query><![CDATA[select Id from Product2 where External_ID__c = :externalId__c and source__c='NBCC']]></salesforce:salesforce-query>
						<salesforce:parameters><![CDATA[#[output application/java
---
{
	externalId__c : "'" ++ payload.a."External_ID__c" ++ "'"
}]]]></salesforce:parameters>
					</salesforce:query>
						<error-handler ref="global-error-handler" />
					</try>
							<logger level="DEBUG" doc:name="Logger" doc:id="88d13608-ae81-4d15-85a9-77c0ebe843aa" message="#['Logging After SF EXTERAL QUERY']" />
							<choice doc:name="create-payload-for-product-upsert" doc:id="6de037f1-2d01-4dd8-8fd7-a0877c7fbb4a" tracking:enable-default-events="true">
						<when expression="#[sizeOf(vars.SFExtId) != 0]">
							<ee:transform doc:name="Update Product Payload" doc:id="72b2361c-6e60-442d-ac32-e6cd34884f89">
						<ee:message>
											<ee:set-payload resource="dwl/update-products-payload.dwl" />
						</ee:message>
								<ee:variables>
								</ee:variables>
					</ee:transform>
						</when>
						<otherwise>
							<ee:transform doc:name="CreateProduct Payload" doc:id="c33e8313-48bd-4821-8885-4d5af4fb92b9">
								<ee:message>
											<ee:set-payload resource="dwl/create-products-payload.dwl" />
								</ee:message>
								<ee:variables>
								</ee:variables>
							</ee:transform>
						</otherwise>
					</choice>
							<logger level="DEBUG" doc:name="Logger" doc:id="1b7b327f-e159-478c-b172-3a294c27f791" message='#["/n size of Payload after create payload for product upsert : " ++ payload]'/>
						</when>
						<otherwise >
							<logger level="INFO" doc:name="Logger" doc:id="fe0e03bf-49d8-4da2-9b22-89b9d9a66340" message='#["\n Invalid Record beacuse the External_ID__c From Initial Mapping is identified as null. "]' />
							<logger level="INFO" doc:name="Logger" doc:id="991a4341-8c93-463e-8ae3-98e342363b85" message='#["\n" ++ payload.a]'/>
						</otherwise>
					</choice>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="4cbb27f0-2198-4ed4-bc33-19fb815eb493" size="200">
						<logger level="INFO" doc:name="Logger" doc:id="a2d61fb7-8727-48c2-b689-f189fdbe3d8b" message='#["\n Start Batch Aggregator in Products"]' />
						<ee:transform doc:name="Transform Message" doc:id="9aff052a-91a3-4e5e-ab7d-ad7cc62078c8" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map read( $, 'application/json')]]></ee:set-payload>
							</ee:message>
							<ee:variables >
								<ee:set-variable variableName="aggregatorValue" ><![CDATA[%dw 2.0
output application/json
---
payload map read( $, 'application/json')]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						<ee:transform doc:name="split-update-create-records" doc:id="c51fe765-208c-4a60-a459-15099d80b22e" >
							<ee:message >
								<ee:set-payload resource="dwl/split-update-create-records.dwl" />
							</ee:message>
							<ee:variables >
							</ee:variables>
						</ee:transform>
						<flow-ref doc:name="create-update-products-subflow" doc:id="18585d7a-1d6b-4a7b-b9ca-f145c90848c6" name="create-update-products-subflow" targetValue="#[aggregatorValue]"/>
						<logger level="INFO" doc:name="Logger" doc:id="ff165725-d3ed-463f-b0a8-9504409f9854" message='#["\n Batch Aggregator Processing Complete"]'/>
					</batch:aggregator>
				
</batch:step>
				<batch:step name="handle-products-batch-errors" doc:id="ea9671b7-5bd0-4148-a241-e3ac8fd00e35" acceptPolicy="ONLY_FAILURES">
					<!-- [STUDIO:"Batch Aggregator"]<batch:aggregator doc:name="Batch Aggregator" doc:id="098d35ac-023a-423d-9a8f-b26100e60688" size="200">
						<ee:transform doc:name="Transform Message" doc:id="b41138a4-ed98-454d-bc02-1c173445ec27">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
payload map read( $, 'application/json')&#93;&#93;></ee:set-payload>
						</ee:message>
					</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="8768b61a-cef5-4d5a-928b-eac2757928c3" message="#[payload&#93;"/>
						<email:send doc:name="send-batch-error-emails" doc:id="720b2eb3-30c9-41bb-ac7d-2918f2d59fb5" config-ref="NTN-SMTP-Details" subject="#[&quot;*** E-mail Notification: &quot; ++ p('app.env') ++ &quot;  *** Products Update Report for :  &quot; ++ p('app.name')&#93;" toAddresses="#[p('smtp.to') splitBy &quot;,&quot;&#93;" >
							<email:body contentType="text/html" encoding="UTF-8" >
								<email:content ><![CDATA[#[%dw 2.0
	output application/xml
	skipNullOn="everywhere"

	&#45;&#45;-
	{
		"html":{
			"body":{
				"div" @(class:"total"):{
					"div" @(class:"header"):{
						"h2":"Status Update from Mulesoft"
					},
					"div" @(class:"content"):{
						"p": "Hi,",
						"p": "Greetings!!!",
						"p": vars.status
					},

					"div":{
						"table" @(width:'40%', border:'1', cellspacing:'0'): {
								"tr":{
									"th": "InterfaceName",
									"td": p('app.name')
								},
						 (payload map (item) -> {
									  tr: {
										th: "Status",
										td: "Failure"
									  }
									})                 
					
							}
					}
				}
			}
		}
	}&#93;&#93;&#93;></email:content>
							</email:body>
							<email:attachments ><![CDATA[#[{"Products_Failures.csv": payload}&#93;&#93;&#93;></email:attachments>
						</email:send>
					</batch:aggregator> [STUDIO] -->
					<set-payload value="#[Batch::getStepExceptions()]" doc:name="Set Payload" doc:id="1f708caa-d356-4dba-a536-7ffbb92c04a3" />
					<foreach doc:name="For Each" doc:id="14f819e6-b683-4429-a11c-b3f6b20e4215" collection="#[payload.values()]">
						<logger level="INFO" doc:name="Logger" doc:id="f6509213-9c6e-4ae5-8d6d-9148a137c03d" message='#["\n Handling Products Batch Errors."]' />
						<logger level="INFO" doc:name="Logger" doc:id="f5395580-e24a-4e87-a787-91f94a18ff96" message="#[payload]"/>
					</foreach>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<ee:transform doc:name="Transform Message" doc:id="a258f6ca-5848-4d0d-9aab-433db1bcd09e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="ecea1a8c-bb37-4a25-b1f0-12f6a8f9eb62" message="#['\n'] Final Payload is ==&gt;  #[payload]"/>
			</batch:on-complete>
		</batch:job>
		<error-handler ref="global-error-handler" />
	</flow>
	
	
	
	<sub-flow name="landed-min-max-choice-subflow" doc:id="079492f5-9e09-4206-ab6d-36c1a7904fa8">
		<choice doc:name="Choice" doc:id="813c08b9-c84d-4ca6-8912-5407ea3b461d">
			<when expression="#[vars.metadata !=[]]">
				<scatter-gather doc:name="Scatter-Gather" doc:id="89eb7dd9-36ee-4276-b4b0-9d2c6de0bfff" maxConcurrency="1">
					<route>
						<batch:job jobName="base-part-batch-job" doc:id="676b9064-96d0-44ff-8986-7698ff5a1c27" maxFailedRecords="${batch.maxFailedRecords}" blockSize="${batch.size}">
					<batch:process-records>
						<batch:step name="base-part-batch-step" doc:id="26ef4117-7dca-4ac2-88bc-88473b2900d2" acceptExpression='#[vars.metadata.drawExternalID != null  and vars.metadata.drawExternalID !="" and vars.metadata.drawExternalID != [] and vars.metadata.drawExternalID != [""]  ]'>
							<ee:transform doc:name="Transform Message" doc:id="768e4397-806b-4020-89a3-767693083641">
					<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
readUrl("classpath://queryScript/sqlScript-landed-imdraw-$(p('mule.env')).dwl","text/plain")]]></ee:set-payload>

					</ee:message>
					<ee:variables>
					
</ee:variables>
				</ee:transform>
							<ee:dynamic-evaluate doc:name="Dynamic Evaluate" doc:id="fefc2dd8-75e4-4f24-993f-3208b7bd3779" expression="#[payload]" />
							<try doc:name="Try" doc:id="f79d49e5-89ac-4b27-a662-423aef7bed38" >
										<db:select doc:name="Select" doc:id="945f3429-4252-439e-a851-6b94ab1c74c3" config-ref="Oracle_JDE_Database_Config">
			<reconnect-forever />
										<db:sql><![CDATA[#[payload]]]></db:sql>

				</db:select>
										<error-handler ref="global-error-handler" />
									</try>
									<ee:transform doc:name="Transform Message" doc:id="83875d5e-04c2-44b9-916b-bfbf665edf83">
			<ee:message>
											<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
(vars.metadata.drawExternalID map ((item, index) ->{       
	"External_ID__c":item,
    "Landed_Cost_Min__c": payload[0].LANDED_COST_MIN_DRAW default 0,
    "Landed_Cost_Max__c": payload[0].LANDED_COST_MAX_DRAW default 0
    
}))[0]
 ]]></ee:set-payload>
			</ee:message>
										<ee:variables >
										</ee:variables>
		</ee:transform>
									<batch:aggregator doc:name="Batch Aggregator" doc:id="a806d24f-b8c6-4a00-9e54-4ce553f0fa5a" streaming="true">
										<!-- [STUDIO:"Transform Message"]<ee:transform doc:name="Transform Message" doc:id="2a577704-6be3-402e-b7f0-02780ee1822b">
											<ee:message>
												<ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
payload map read( $, 'application/json') //distinctBy ((item, index) -> item)&#93;&#93;></ee:set-payload>
											</ee:message>
										</ee:transform> [STUDIO] -->
										<choice doc:name="Choice" doc:id="abcdb722-ca86-4614-9c8a-96e48e6cf508">
											<when expression="#[payload != null]">
												<logger level="INFO" doc:name="Logger" doc:id="a8c6ecba-4953-4a38-8e47-32822284c731" message='#[%dw 2.0&#10;output application/json&#10;---&#10;"Starting Landed Cost Upsert for BASE Parts "]' />
												<try doc:name="Try" doc:id="197debc9-df84-4200-b0d1-87cd96a1c276" >
													<salesforce:upsert doc:name="Upsert" doc:id="073d3b2d-9324-4a38-bf28-2091531982e7" config-ref="Salesforce_Config" objectType="${sf.object}" externalIdFieldName="${sf.extId}">
												</salesforce:upsert>
													<logger level="INFO" doc:name="Logger" doc:id="917a4821-8aa5-4e0f-8b3e-cad4bc43f7af" message='#[%dw 2.0&#10;output application/json&#10;---&#10;if (payload.successful == true) {Successful : payload.successful}&#10;else (payload.items map() -&gt; {&#10;	"MessageSender": "landed-min-max-base-part-upsert",&#10;	failedId: $.exception.message,&#10;	message: $.message,&#10;	Successful: $.successful	&#10;})]' />
													<error-handler ref="global-error-handler" />
												</try>
											</when>
											<otherwise>
												<logger level="INFO" doc:name="Logger" doc:id="ff2fe0b0-8459-4cde-afe8-496fe9e2ce62" message="Nothing to Update in this run" />
											</otherwise>
										</choice>
									</batch:aggregator>
									<logger level="INFO" doc:name="Logger" doc:id="e03c71f3-fb9f-46bd-a436-8a8277d1f268" message="#[payload]"/>
						</batch:step>
								<batch:step name="Handle-Batch-Errors" doc:id="548dbd5b-1c69-4e10-bddd-2489b59bff08" acceptPolicy="ONLY_FAILURES">
					<ee:transform doc:name="Transform Message" doc:id="bc8a16ee-cc98-4596-86bf-d3417b7e9540">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map read( $, 'application/json') distinctBy ((item, index) -> item)]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="65aa30bc-f856-4d02-8705-2da1ef3fae02" size="100">
						<ee:transform doc:name="Transform Message" doc:id="28c06d76-660e-40ed-8e78-fb8bd96e946e">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map read( $, 'application/json')]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="1c88cf02-5b3e-41ad-a024-ad3896aba703" message="#[' \n '] #[payload] " />
										<try doc:name="Try" doc:id="0f90758e-c55b-4b27-b761-4e4a9fab267e" >
											<email:send doc:name="Send" doc:id="22c119db-da3a-414c-89b2-ece7e66c974b" config-ref="NTN-SMTP-Details" subject="#[&quot;*** E-mail Notification: &quot; ++ p('app.env') ++ &quot;  *** Batch Process Error Handling in  &quot; ++ p('app.name')]" toAddresses="#[p('smtp.to') splitBy &quot;,&quot;]">
							<email:body contentType="text/html" encoding="UTF-8">
								<email:content><![CDATA[#[%dw 2.0
output application/xml
skipNullOn="everywhere"

---
{
    "html":{
        "body":{
            "div" @(class:"total"):{
                "div" @(class:"header"):{
                    "h2":"Alert from Mulesoft"
                },
                "div" @(class:"content"):{
                    "p": "Hi,",
                    "p": "Greetings!!!",
					"p": "Error while processing, please take corrective action."
                },

                "div":{
                    "table" @(width:'40%', border:'1', cellspacing:'0'): {
							"tr":{
                                "th": "InterfaceName",
                                "td": p('app.name')
                            },
                          "tr":{
                                "th": "Error Type",
                                "td":  "Batch Processing Error while updating Landed MIN and MAX BASE Parts"
                            },
                          "tr":{
                                "th": "Failed Payload",
                                "td": payload
                            }                        
				
                        }
                }
            }
        }
    }
}]]]></email:content>
							</email:body>
						</email:send>
											<error-handler ref="global-error-handler" />
										</try>
										<logger level="INFO" doc:name="Logger" doc:id="5a7a22c9-0741-4559-9602-31e6b2d283e5" message="#['\n'] Landed min-max BASE Part Error Handling Completed."/>
					</batch:aggregator>
				</batch:step>
					</batch:process-records>
							<batch:on-complete>
								<ee:transform doc:name="Transform Message" doc:id="e4326534-e681-45a2-9885-0fb680456a3c">
									<ee:message>
										<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
									</ee:message>
								</ee:transform>
								<logger level="INFO" doc:name="Logger" doc:id="d2ee1aa1-741e-43f4-814c-ab7cf5245802" message="#['\n'] Landed min-max Base part batch is completed ==&gt;  #[payload]" />
							</batch:on-complete>
				</batch:job>
					</route>
					<route>
						<batch:job jobName="industry-part-batch-job" doc:id="0a773dae-f720-426b-9956-d078bbe923a6" maxFailedRecords="${batch.maxFailedRecords}" blockSize="${batch.size}">
					<batch:process-records>
						<batch:step name="industry-part-batch-step" doc:id="07aa14b3-02df-4af3-b8d8-d469670865d9" acceptExpression='#[vars.metadata.srtxExternalID != null  and vars.metadata.srtxExternalID !="" and vars.metadata.srtxExternalID != []  and vars.metadata.srtxExternalID != [""] ]'>
							<ee:transform doc:name="Transform Message" doc:id="b41912f6-6482-4298-9a50-1dac14b01991">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
readUrl("classpath://queryScript/sqlScript-landed-imsrtx-$(p('mule.env')).dwl","text/plain")]]></ee:set-payload>

			</ee:message>
			<ee:variables>
			
</ee:variables>
		</ee:transform>
							<ee:dynamic-evaluate doc:name="Dynamic Evaluate" doc:id="04f185a5-2197-4225-88b6-2a6375f09da7" expression="#[payload]" />
							<try doc:name="Try" doc:id="0139f3e0-e4ad-419f-bc80-d263d99d7ebf" >
										<db:select doc:name="Select" doc:id="68bc6a69-ca3f-4ba3-9031-2b397f53f79a" config-ref="Oracle_JDE_Database_Config">
										<reconnect />
										<db:sql><![CDATA[#[payload]]]></db:sql>
				</db:select>
										<error-handler ref="global-error-handler" />
									</try>
									<ee:transform doc:name="Transform Message" doc:id="e93cfba9-0eae-4ae6-b1c9-e76d2a4db651">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
(vars.metadata.srtxExternalID map ((item, index) ->{       
	"External_ID__c":item,
    "Landed_Cost_Min__c": payload[0].Landed_Cost_Min_SRTX default 0,
    "Landed_Cost_Max__c": payload[0].Landed_Cost_Max_SRTX default 0
    
}))[0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
									<batch:aggregator doc:name="Batch Aggregator" doc:id="b815077b-7b4c-4e8a-82bd-e97544331cd5" streaming="true">
										<!-- [STUDIO:"Transform Message"]<ee:transform doc:name="Transform Message" doc:id="a291e3c3-fa43-49b1-ad67-ca2572bcf20b">
											<ee:message>
												<ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
payload map read( $, 'application/json') //distinctBy ((item, index) -> item)

%dw 2.0
output application/json
&#45;&#45;-
payload map read( $, 'application/json')&#93;&#93;></ee:set-payload>
											</ee:message>
											<ee:variables >
												<ee:set-variable variableName="varPayload" ><![CDATA[%dw 2.0
output application/java
&#45;&#45;-
{
}&#93;&#93;></ee:set-variable>
											</ee:variables>
										</ee:transform> [STUDIO] -->
										<choice doc:name="Choice" doc:id="41ca8b2b-fce2-414a-8f5d-6c25effcf468" >
											<when expression='#[payload != null]'>
												<logger level="INFO" doc:name="Logger" doc:id="8b79cefe-1bfe-444c-9cff-8bd87a8a8da7" message='#[%dw 2.0&#10;output application/json&#10;---&#10;"Starting Landed Cost Upsert for SRTX "]'/>
												<try doc:name="Try" doc:id="f1c9a82d-cdc8-412c-94e9-2e4ce3cf3ef4" >
													<salesforce:upsert doc:name="Upsert" doc:id="68694f18-4a38-4322-acf7-dc7ba9ebf053" config-ref="Salesforce_Config" objectType="${sf.object}" externalIdFieldName="${sf.extId}">
										</salesforce:upsert>
													<logger level="INFO" doc:name="Logger" doc:id="0dfe4e5e-54e2-4253-b061-7d6c35225b5a" message='#[%dw 2.0&#10;output application/json&#10;---&#10;if (payload.successful == true) {Successful : payload.successful}&#10;else (payload.items map() -&gt; {&#10;	"MessageSender": "landed-min-max-base-industry-upsert",&#10;	failedId: $.exception.message,&#10;	message: $.message,&#10;	Successful: $.successful	&#10;})]' />
													<error-handler ref="global-error-handler" />
												</try>
											</when>
											<otherwise >
												<logger level="INFO" doc:name="Logger" doc:id="d5b3acba-ca9a-4652-a98e-efebf8460427" message="Nothing to Update in this run"/>
											</otherwise>
										</choice>
									</batch:aggregator>
									<logger level="INFO" doc:name="Logger" doc:id="efbd577d-9a53-4e3a-b555-8fb6818c6c34" message="#[payload]"/>
						
						</batch:step>
						<batch:step name="Handle-Batch-Errors" doc:id="8b2c8373-19ee-41fb-bbff-fff504b8ca5c" acceptPolicy="ONLY_FAILURES">
					<ee:transform doc:name="Transform Message" doc:id="230b7676-84e3-4a95-9098-e39eefd2749d">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map read( $, 'application/json') distinctBy ((item, index) -> item)]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="347930d3-9397-415e-ad22-e84fb52565da" size="100">
						<ee:transform doc:name="Transform Message" doc:id="bc22967f-57ab-47aa-8b6b-add6654194ff">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map read( $, 'application/json')]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="a189153d-b0ed-4390-83f9-e801a9ce918f" message="#[' \n '] #[payload] " />
										<try doc:name="Try" doc:id="e53316d2-20f7-444d-858c-480704c93528" >
											<email:send doc:name="Send" doc:id="f319f1c0-ffe5-4549-a42d-5126fd86f1c5" config-ref="NTN-SMTP-Details" subject="#[&quot;*** E-mail Notification: &quot; ++ p('app.env') ++ &quot;  *** Batch Process Error Handling in  &quot; ++ p('app.name')]" toAddresses="#[p('smtp.to') splitBy &quot;,&quot;]">
							<email:body contentType="text/html" encoding="UTF-8">
								<email:content><![CDATA[#[%dw 2.0
output application/xml
skipNullOn="everywhere"

---
{
    "html":{
        "body":{
            "div" @(class:"total"):{
                "div" @(class:"header"):{
                    "h2":"Alert from Mulesoft"
                },
                "div" @(class:"content"):{
                    "p": "Hi,",
                    "p": "Greetings!!!",
					"p": "Error while processing, please take corrective action."
                },

                "div":{
                    "table" @(width:'40%', border:'1', cellspacing:'0'): {
							"tr":{
                                "th": "InterfaceName",
                                "td": p('app.name')
                            },
                          "tr":{
                                "th": "Error Type",
                                "td":  "Batch Processing Error while updating Landed MIN and MAX INDUSTRY Parts"
                            },
                          "tr":{
                                "th": "Failed Payload",
                                "td": payload
                            }                        
				
                        }
                }
            }
        }
    }
}]]]></email:content>
							</email:body>
						</email:send>
											<error-handler ref="global-error-handler" />
										</try>
										<logger level="INFO" doc:name="Logger" doc:id="5cc0fdaf-a5b9-4561-aa6a-3b7a4a0e9c60" message="#['\n'] Landed min-max INDUSTRY Part Error Handling Completed."/>
					</batch:aggregator>
				</batch:step>
					</batch:process-records>
							<batch:on-complete>
								<ee:transform doc:name="Transform Message" doc:id="7c304c09-4845-464d-b47a-ea1dc62a7493">
									<ee:message>
										<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
									</ee:message>
								</ee:transform>
								<logger level="INFO" doc:name="Logger" doc:id="8fa3785c-bb1f-4734-85f6-4e61ff3b3483" message="#['\n'] Landed min-max Industry part batch is completed ==&gt;  #[payload]" />
							</batch:on-complete>
				</batch:job>
					</route>
				</scatter-gather>
			</when>
		
</choice>
	</sub-flow>
	<sub-flow name="get-pricebook-id" doc:id="cb29d81e-e1f4-415d-9e7a-01c8ee0d4050">
		<ee:transform doc:name="Transform Message" doc:id="48cb19e8-e866-445d-9f97-1195ef134e2c">
			<ee:message>
				<ee:set-payload resource="dwl/Execute-composite-request.dwl" />
			</ee:message>
		</ee:transform>
		<try doc:name="Try" doc:id="418db536-d8f2-422b-a276-c34200161420" >
			<salesforce-composite:execute-composite-request doc:name="Execute composite request" doc:id="b60ebc3e-a090-4479-8338-7e1f71b84dae" config-ref="Salesforce_Composite_Config">
				<reconnect-forever />
			</salesforce-composite:execute-composite-request>
			<error-handler ref="global-error-handler" />
		</try>
		<ee:transform doc:name="Transform Message" doc:id="452df09b-544b-4d60-a1fb-1f46715913a0">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{id:(payload.compositeResponse map ($..body."records")[0]) map ((item, index) -> item[0].Id)}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="afeca09e-29d9-48e5-a764-022550bd0802" message="The list of PriceBook IDs are : ++ #[payload]"/>
	</sub-flow>
	<sub-flow name="sendUpdateEmail" doc:id="9d63baaa-9d09-454a-9d5c-e0db69f64897">
		<async doc:name="Async" doc:id="6c01f9f0-70bd-4840-80f0-f5f087ea588f">
									<try doc:name="Try" doc:id="aafd476c-ebd2-4c32-8d90-ec7517789b81">
										<choice doc:name="Choice" doc:id="b48e365d-785f-46b9-b071-1c0cdcb438a4" >
					<when expression="#[payload.successful != true and payload != null]">
						<!-- [STUDIO:"Transform Message"]<ee:transform doc:name="Transform Message" doc:id="57dab4e1-cdcc-48de-8c9a-b291b9bf6edb">
					<ee:message>
						<ee:set-payload resource="dwl/set-email-payload.dwl" />
					</ee:message>
				</ee:transform> [STUDIO] -->
						<ee:transform doc:name="Transform Message" doc:id="5b9740dc-2a23-40b2-9508-53817594fdfe">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<ee:transform doc:name="create-csv" doc:id="c32c9d35-8043-47a6-af37-6471fc6ea330">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/csv header=true
---

if(payload.Status != null and payload.Status != [])(
  if (payload.Status[0]."Status Code" == "REQUIRED_FIELD_MISSING") [] else
(flatten(
    payload.Status map ((statusItem) -> 
    statusItem.payload map ((item) -> item ) 
)))) 
else if(payload.Successful[0] == false) payload map ((item, index) -> (item))
else [] ]]></ee:set-payload>
							</ee:message>
							<ee:variables >
								<ee:set-variable variableName="emailPayload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="ccf72fcf-0c91-4ab6-b04f-f8e1e004414a" message='#["\n Logging Before Sending Error Update Email"]' />
						<choice doc:name="Choice" doc:id="6eaaddb0-4048-46b9-8065-6f76caab43f5" >
							<when expression='#[!(vars.status contains "Notification")]'>
								<email:send doc:name="Send" doc:id="bd14a6df-31cf-4600-8fc6-f2abcbca5892" config-ref="NTN-SMTP-Details" toAddresses="#[p('smtp.to') splitBy &quot;,&quot;]" subject="#[&quot;*** E-mail Notification: &quot; ++ p('app.env') ++ &quot;  *** Products Update Report for :  &quot; ++ p('app.name')]">
									<email:body contentType="text/html" encoding="UTF-8">
						<email:content><![CDATA[#[%dw 2.0
	output application/xml
	skipNullOn="everywhere"

	---
	{
		"html":{
			"body":{
				"div" @(class:"total"):{
					"div" @(class:"header"):{
						"h2":"Status Update from Mulesoft"
					},
					"div" @(class:"content"):{
						"p": "Hi,",
						"p": "Greetings!!!",
						"p": vars.status
					},

					"div":{
						"table" @(width:'40%', border:'1', cellspacing:'0'): {
								"tr":{
									"th": "InterfaceName",
									"td": p('app.name')
								},
						 (payload map (item) -> {
									  tr: {
										th: "Status",
										td: if(item.Successful == true) "Successful: true" else "Please Review the Attachment to check for failed records"
									  }
									})                 
					
							}
					}
				}
			}
		}
	}]]]></email:content>
											</email:body>
							<email:attachments><![CDATA[#[%dw 2.0
output application/json
---
{"Products_Failures.json": vars.emailPayload}]]]></email:attachments>
								</email:send>
							</when>
							<otherwise >
								<email:send doc:name="Send" doc:id="3ca12ad5-f710-4e7f-ab82-bea3b07f94b3" config-ref="NTN-SMTP-Details" subject="#[&quot;*** E-mail Notification: &quot; ++ p('app.env') ++ &quot;  *** Products Update Report for :  &quot; ++ p('app.name')]" toAddresses="#[p('smtp.to') splitBy &quot;,&quot;]" >
									<email:body contentType="text/html" encoding="UTF-8" >
										<email:content ><![CDATA[#[%dw 2.0
	output application/xml
	skipNullOn="everywhere"

	---
	{
		"html":{
			"body":{
				"div" @(class:"total"):{
					"div" @(class:"header"):{
						"h2":"Status Update from Mulesoft"
					},
					"div" @(class:"content"):{
						"p": "Hi,",
						"p": "Greetings!!!",
						"p": vars.status
					},

					"div":{
						"table" @(width:'40%', border:'1', cellspacing:'0'): {
								"tr":{
									"th": "InterfaceName",
									"td": p('app.name')
								},
						 
									  tr: {
										th: "Status",
										td: "Invalid External Ids were generated during the initial mapping.Please Review the Attachment to check for failed records"
									  }
									}             
					
							}
					}
				}
			}
		}]]]></email:content>
									</email:body>
									<email:attachments ><![CDATA[#[%dw 2.0
output application/csv header=true
---
{"Products_Failures.csv": payload}]]]></email:attachments>
								</email:send>
							</otherwise>
						</choice>
					</when>
					<otherwise>
						<logger level="INFO" doc:name="Logger" doc:id="494fe45a-1aed-45dd-ad10-2ad4d7e64ba1" message='#["\n Success Scenario Does Not Need Emails"]'/>
						<!-- [STUDIO:"Transform Message"]<ee:transform doc:name="Transform Message" doc:id="6fdbab44-f307-48cd-a6d5-1cd458f80b4f">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
if (payload.successful == true) [{Successful : payload.successful}&#93;
else (payload.items map() -> {
	failedId: $.id,
	message: $.message
	
})&#93;&#93;></ee:set-payload>
							</ee:message>
						</ee:transform> [STUDIO] -->
					</otherwise>
				</choice>
										<error-handler ref="global-error-handler" />
									</try>
								</async>
	</sub-flow>

</mule>